@import url('fonts.css');

table.dataTable {
    width: 1% !important;
    white-space: nowrap !important;
    margin: initial !important;
}

.dataTables_wrapper {
    width: fit-content !important;
}

th {
    padding: 5px !important;
}

tbody th {
    text-align: left;
}

td {
    padding: 3px !important;
}

td ul, th ul {
    margin: auto;
    padding-left: 20px;
}

h1, h2 {
    text-shadow: 1px 1px 1px #999;
}

.tooltip {
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
    vertical-align: top;
    width: fit-content;
}

/*.tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 1em;
    position: absolute;
    !*bottom: 100%;*!
    !*left: 50%;*!
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition: opacity 0.3s, visibility 0.3s; !* For Safari 3.1 to 6.0 *!
    z-index: 1;
}*/

/*select tooltiptext class that immediately follows*/
.tooltip:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*make sure tooltip doesnt disappear too quickly*/
.tooltiptext:hover {
    visibility: visible;
    opacity: 1;
}